@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: white;
    position: relative;
    
}
.heading{
  /* height: 300px; */
  
  background-repeat: no-repeat;
  background-position: center;
  
  width: 100%;
 
  min-height: 280px;
  position: relative;
}

.heading h1{
  text-align: center;
  font-size: 130px;
  margin-top: 100px;
  transition: 0.3s;
  color: rgb(0, 0, 0);
  text-shadow: -15px 5px 20px #fbff00;
}
#sitename span{

  transition: 0.2s;
}

#sitename:hover{
  letter-spacing: 3px;
}

#tagline{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 40px;
}

header img {
    max-width: 150px;
    height: auto;
}

.header2{
    display: flex;    
    height: 8vh;
    /* border: 1px solid black; */
    background-color: #212121;
    justify-content: right;
    position: sticky;
    top: 0;
    z-index: 2;
    
}
.header2 .navbar {
    align-items: center;
    display: flex;
    padding: 10px 20px;
    background-color: #212121;
    position: sticky;
    top: 0;
}

.header2 .navbar nav{
    background-color: #212121;
}


.header2 .navbar button{
    background: transparent;
    outline:none;
    border: none;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  position: relative;
  transition: color 0.2s;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff; /* Set the color of the border-bottom */
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.header2 .searching{
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgb(185, 185, 185);
  margin: auto;
  height: 35px;
  margin-left: 50px;
  width: 320px;
  padding-right: 5px;
}
.header2 .searching input{
  background: transparent;
  color: black;
  padding-left: 10px;
  outline: none;
  border: 0;
  margin-top: 5px;
  border-radius: 5px;
  height: 25px;
  width: 75%;
}
.header2 .searching button{
  border: 0;
  background: transparent;
  margin-left: 7px;
  margin-top: 2px;
  /* padding: 5px; */
  cursor: pointer;
  /* float: right; */
}


/* Bellow navbar stuff  */

.account-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
}

#google_translate_element {
  margin-left: auto;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}

#welcome_user {
  font-size: 14px;
  margin-right: 15px;
  color: #333;
}

.user-info button {
  background-color: #dcdcdc;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-info button:hover {
  color:white;
  background-color: #212121;
}

.auth-options {
  display: flex;
  align-items: center;
}

.widget-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.widget-header .title {
  font-size: 12px;
  margin-bottom: 5px;
}

.widget-header a {
  color: #000000;
  text-decoration: none;
  margin-right: 5px;
}

.widget-header a:hover {
  text-decoration: underline;
}

.dark-transp {
  color: #6c757d;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  border: 2px solid #909090;
}

.icon-sm {
  font-size: 16px;
}

.badge {
  margin-left: 5px;
  font-size: 12px;
  background-color: #dc3545;
  color: white;
}


/* ---------------------------- */

.lang_option button{
  cursor: pointer;
  padding: 5px;
}

/* Slideshow container */


/* -------------------------------------------------------------------------------------------- */



/* footer -------------------------------------------------------------------------------------- */
.contain{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
  /* height: 100px; */
}
ul{
	list-style: none;
}
.footer{
	background-color: #212121;
  padding-top: 60px ;
  padding-bottom: 60px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 10px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.section{
  height: 80vh;
  background: url(bgimg.jpg);
  background-size: cover;
  position: static;
}

hr{
  margin: auto;
  margin-top: 60px;
  height: 3px;
  width: 100%;
  background-color: #938c8c;
}

/* cards */

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin-bottom: 100px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.img-wrap {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.img-wrap img {
  width: 230px;
  height: 250px;
  border-radius: 10px;
}

.product-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  color: #555;
  font-size: 1em;
  margin: 5px 0;
}

.product-card p.price {
  font-weight: bold;
  font-size: 1.2em;
  color: #e67e22;
}

.product-card button{
  color: white;
  background-color: #212121 ;
  border-radius: 5px;
  margin: 0px 12px;
  padding:10px;
  width: 100px;
}

.product-card button:hover{
  color: black;
  background-color: rgb(221, 216, 216);
}

#seeAll {
  display: flex;
  justify-content: space-between;
  margin:50px 160px;
}
#seeAll button{
  padding: 10px;
  transition: 0.3s;
  border-radius: 10px;
  
}

#seeAll button:hover{
  background: rgb(51, 134, 236);
  color: white;
}

#seeAll a{
  text-decoration: none;
  color: black;
}

/* dropdown css */
/* Basic styling for navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  /* padding: 10px; */
}

nav button {
  background-color: #444;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button a {
  color: white;
  text-decoration: none;
}

nav button:hover {
  background-color: #555;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  padding: 0;
  border-radius: 4px;
}

.dropdown-content li {
  list-style: none;
  padding: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #555;
}

/* Align buttons properly */
nav button,
.dropdown {
  margin: 0 10px;
}

nav button,
.dropdown button {
  font-size: 16px;
}


/* product detail */

